<h1>Register a new user</h1>

<form action="/session/register" method="post">
    <label for="">First Name:<input type="text" name="first_name"></label>
    <label for="">Last Name:<input type="text" name="last_name"></label>
    <label for="">Email:<input type="text" name="email"></label>
    <label for="">Age:<input type="text" name="age"></label>
    <label for="">Password<input type="password" name="password"></label>
    <input type="submit" value="Sign in">
</form>