<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>

<body>
    {{#if user}}
    <div>
        <h2>Welcome {{user.rol}}  {{user.first_name}}</h2>

        <a href="http://localhost:8080/session/logout">
            <button>Log Out</button>
        </a>
    </div>
    {{/if}}

    {{{body}}}

</body>

</html>